@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";


/* *{
    font-family: roboto;
    letter-spacing: 0.3px;
} */

body {
  font-family: "Inter", "Roboto", sans-serif;
  letter-spacing: 0.2px;
}

h1 {
  letter-spacing: 0.2px;
}

h2, h3 {
  letter-spacing: 0.3px;
}

button {
  letter-spacing: 0.5px;
}

.nav-item {
  letter-spacing: 0.3px;
}



a.active hr {
  display: block;
}

::-webkit-scrollbar {
  display: none;
}

.custom-toast-center {
  margin-top: 100px;
  position: fixed !important;
  /* ✅ use fixed to position on the screen */
  top: 50% !important;
  /* ✅ vertical center */
  left: 50% !important;
  /* ✅ horizontal center */
  transform: translate(-50%, -50%) !important;
  /* ✅ offset by half */
  z-index: 9999 !important;

  /* Optional styling */
  width: fit-content !important;
  min-width: 300px;
  padding: 12px 20px !important;
  font-size: 14px !important;
  text-align: center;
  border-radius: 8px;
}


/* Add this to your global CSS file (index.css, App.css, etc.) */
.swiper-slide-thumb-active img {
  border: 1px solid darkblue !important;
  /* blue border */
  opacity: 1 !important;
  transform: scale(1);
}